<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UPE profile submission</title>
        <meta name="description" content="Webpage for UPE profiles">

		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' type='text/css' >

		<!-- CSS
	  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="static/normalize.css">
        <link rel="stylesheet" href="static/skeleton.css">
        <link rel="stylesheet" href="static/custom.css">
    </head>

    <body class="eight columns offset-by-one">
        <h1> UPE profile submission </h1>
        <p>
	    Please fill this form in its entirety. Those who do not will not be
            inducted and will need to reapply to be considered for acceptance
            next year. For all fields please <strong>do not</strong> use
            carriage returns or newlines -- just write text.
        </p>

        <p>
            This
            information will be displayed on the <a href="http://upe.cs.jhu.edu/"
                target="blank"> JHU UPE website</a> so please check grammar and
            spelling on your behalf. Use commas to separate multiple items.
        </p>

        <p>
            <form action="" method="post" enctype="multipart/form-data">
                Full name (First and Last):<br>
                <input type="text" name="name" required>
                <br>
                Academic standing:<br>
                <select type="text" name="academic_standing" required>
                    <option value="Freshman">Freshman</option>
                    <option value="Sophomore">Sophomore</option>
                    <option value="Junior">Junior</option>
                    <option value="Senior">Senior</option>
                    <option value="Master's Student">Master's</option>
                    <option value="PhD Student">PhD</option>
                </select>
                <br>
                About me (Bio):<br>
                <textarea name="bio" rows="10" cols="50" required></textarea>
                <br>
                Interests within CS:<br>
                <input type="text" name="interests" required>
                <br>
                Subjects you are most interested in tutoring:<br>
                <input type="text" name="tutoring" required>
                <br>
                Languages of proficiency:<br>
                <input type="text" name="languages" required>
                <br>
                Hobbies:<br>
                <input type="text" name="hobbies" required>
                <br>
                ~500px x ~500px image of yourself:
                <br>
                <input type="file" name="file" required>
                <br>

                <br><br>
                <input type="submit" value="Submit">
            </form>
        </p>
    </body>
</html>
